.tabSelected {
  color: var(--tertiary-color);
}

.tabSelected:hover {
  color: var(--tertiary-hover-color);
}

.tabSelected:active {
  color: var(--tertiary-active-color);
}

.tab:hover {
  color: var(--tertiary-hover-color);
}

.login:hover {
  border-color: var(--secondary-hover-color);
  color: var(--secondary-hover-color);
}

.registration:hover {
  background-color: var(--secondary-hover-color);
  color: var(--primary-hover-color);
}

.registration {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
