@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* custom selector antd */

.css-dev-only-do-not-override-p7e5j5.ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(40 42 54);
  border: none;
}

.ant-select-selection-placeholder {
  color: rgb(109, 108, 108) !important;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-single
  .ant-select-selector {
  color: #ffffffde;
  font-weight: 200;
}

.ant-select-arrow {
  color: #ffffffde !important;
  font-weight: 200;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-dropdown
  .ant-select-item,
.ant-input {
  color: #ffffffde;
  font-weight: 200;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-dropdown {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(40 42 54);
}

.ant-input::placeholder {
  color: grey;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #ffffffde;
  font-weight: 700;
  color: black;
}

:where(
    .css-dev-only-do-not-override-p7e5j5
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-p7e5j5
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  /* font-weight: 200; */
}

:where(
    .css-dev-only-do-not-override-p7e5j5
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-p7e5j5
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  color: #ffffffde;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-multiple
  .ant-select-selection-item {
  color: #ffffffde;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-multiple
  .ant-select-selection-item-remove
  svg {
  color: #ffffffde;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-multiple
  .ant-select-selector {
  align-items: start;
  color: #ffffffde;
}
